extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/db/user') User
  br
  a(href='/db/health') Health
  br
  a(href='/db/walking') Walking
  br
  a(href='/db/friendship') Friendship
